.header {
  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;

  width: 100vw;
  height: var(--header-heigth);

  box-shadow: 0px 4px 10px #888888;
}

.logo {
  width: 7rem;
  margin-left: 2rem;
}

.header h1 {
  margin-left: 3rem;
}
